.main {
    
}
.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px;
    padding-top: 50px;
    background-color: #27374D;
    color: #DDE6ED;
    font-weight: bold;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 50px;
}
.midheader-container {
    display: flex;
    background-color: #27374D;
    color: #DDE6ED;
    padding-bottom: 50px;
    

}
.leftpane {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 100px;
    padding-right: 50px;
    min-width: 40%;
}
.heading {
    font-size: 40px;
    font-weight: bolder;
}
.intro {
    font-size: 20px;
}
.button1 {
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    background-color: #9DB2BF;
    border: 2px solid #9DB2BF;
    color: #DDE6ED;
}
.rightpane {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 50px;
    padding-right: 100px;
    min-width: 40%;

}
.mesbg {
    border-radius: 20px;
}
.lowmidheader-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 20px;
}
.heading2 {
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
}
.faction-tiles {
    display: flex;
    flex-direction: row;
    padding: 100px;
    align-content: center;
    justify-content: center;
}
.minasjpg,
.rohanjpg,
.mordorjpg,
.isendgardjpg {
    display: flex;

}
.minasimg,
.rohanimg,
.mordorimg,
.isengardimg {
    height: 200px;
    width: 300px;
}
.minasinfo, 
.rohaninfo, 
.mordorinfo,
.isengardinfo {
    display: flex;
    min-width: 200px;
    align-content: center;

}
.minas,
.rohan,
.mordor,
.isengard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-right: 70px;

}
.quote-container {
    display: flex;
    flex-direction: column;
    background-color: #9DB2BF;
    padding-top: 100px;
    padding-bottom: 100px;
}
.quote {
    display: flex;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;


}
.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 250px;
    padding-top: 20px;

    font-size: 25px;
    font-weight: bolder;
}
.action-container {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color:#27374D ;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 70px;
    margin-bottom: 50px;
    color: #DDE6ED;
    border-radius: 20px;
    

}
.leftaction {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.action {
    font-size: 20px;
    font-weight: bold;

}
.butsign {
    height: 30px;
    width: 100px;
    border-radius: 10px;
    background-color: #9DB2BF;
    color: #DDE6ED;
    font-weight: bolder;
}
.rightaction {
    align-self: center;
}